@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(17 24 39);
    color: rgb(249 250 251);
  }
}
